<h1>About</h1>
<p>Please build a website that allows users to post news articles, and allows users to read the articles and post comments. The site should be built using whatever technology you're most comfortable with, keeping in mind the target client technology is Ruby on Rails based. 

 

We're looking for you to demonstrate good object oriented design, good unit testing, good source control practices, and a well presented user experience.

 

The site should:

- Allow registered users to post articles

- Allow all users (registered and not) to post comments to articles

- Allow all users to "like" articles and comments

- Allow the owner of the article to post revisions. As with all good journalism, readers must be made aware that the article has been modified.</p>