<h1>Edit Article</h1>
<div class="row">
    <form action="/articles/{{article.id}}?_method=PUT" class="col s12" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <textarea name="title" class="materialize-textarea">{{article.title}}</textarea>
                <label>Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Write your Article!</h5>
                <textarea name="body">{{article.body}}</textarea>
            </div>
        </div>
        <input type="submit" value="Save" class="btn">
    </form>
</div>